<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">EventSpark</a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="{'collapse': !isNavbarCollapsed, 'navbar-collapse': true}" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/event" routerLinkActive="active">Event</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/my-booking" routerLinkActive="active">My Booking</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
    <ul class="navbar-nav align-items-center">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="toggleSearch()"><i class="fas fa-search"></i></a>
      </li>
      @if(userObj.UserId == 0){
        <li class="nav-item">
          <button class="nav-link btn btn-link" (click)="onPOpUp()"><i class="fas fa-user-shield"></i></button>
        </li>
      }
      @else {
        <li class="nav-item">
          <button class="nav-link btn btn-link" (click)="onProfile()">
            <i class="fas fa-user-shield"></i>
          </button>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="OnLogOut()"><i class="fas fa-sign-out-alt"></i></a>
        </li>
      }
         
    </ul>
    <form class="form-inline my-2 my-lg-0 ml-lg-3 mt-2 mt-lg-0 text-center" [ngClass]="{'d-none': !isSearchOpen}">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>


<div class="container mt-3">
  <router-outlet></router-outlet>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" #model tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true"
  [ngClass]="{'show': showModal}" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="loginModalLabel">Login</h5>
        <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label    for="loginEmail" class="form-label">Mobile Number</label>
            <input type="text" class="form-control" id="ContactNo" [(ngModel)]="logInObj.ContactNo" name="ContactNo"
              required>
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" [(ngModel)]="logInObj.Password" name="Password"
              required>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-3" (click)="onLogin()">Login</button>
          <div class="text-center">
            <p class="mb-0">Don't have an account?</p>
            <button type="button" class="btn btn-link text-primary fw-bold" (click)="openRegisterModal()"
              data-bs-dismiss="modal">Register Now</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- Register Modal -->
<!-- Register Modal -->
<div class="modal fade" id="registerModal" #registerModal tabindex="-1" aria-labelledby="registerModalLabel"
  aria-hidden="true" [ngClass]="{'show': showRegisterModal}"
  [ngStyle]="{'display': showRegisterModal ? 'block' : 'none'}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="registerModalLabel">Register</h5>
        <button type="button" class="btn-close" (click)="closeRegisterModal()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="registerUsername" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="registerUsername" [(ngModel)]="userObj.Name" name="Name"
              required>
          </div>
          <div class="mb-3">
            <label for="registerEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="registerEmail" [(ngModel)]="userObj.Email" name="Email"
              required>
          </div>
          <div class="mb-3">
            <label for="registerPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="registerPassword" [(ngModel)]="userObj.Password"
              name="Password" required>
          </div>
          <div class="mb-3">
            <label for="registerContactNumber" class="form-label">Contact Number</label>
            <input type="text" class="form-control" id="registerContactNumber" [(ngModel)]="userObj.ContactNo"
              name="ContactNo" required>
          </div>
          <button type="submit" class="btn btn-primary w-100 mb-3" (click)="onRegister()">Register</button>
        </form>
        <div class="text-center">
          <p class="mb-0">Already have an account?</p>
          <button type="button" class="btn btn-link text-primary fw-bold" (click)="onPOpUp()"
            data-bs-dismiss="modal">Login Now</button>
        </div>
      </div>
    </div>
  </div>
</div>

